<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    <link rel="stylesheet" type="text/css" href="static\css\style.css" /> 
    <script src="static\js\search.js"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  
  
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{ url_for('index_search') }}">RecScore por Usuário</a></li>
          <li><a href="{{ url_for('page_evaluation') }}">Avaliação</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        {% block content %} 
        
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
  </body>
</html>